* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@media screen and (max-width: 600px) {
    nav ul {
        flex-direction: column;
    }
    main {
        flex-direction: column;
    }
    #image, #informations {
        flex-direction: column;
        float: center;
    }
}


html {
    box-sizing: border-box;
}

body {
    font-size: 18px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 5px 0;
    background: #a7b7dc;
}

.container {
    background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);;
}

nav {
    background: black;
    margin-top: 15px;
}
nav ul {
    display: flex;
    list-style: none;
    justify-content: right;
    text-align: center;
}

.empty {
    flex: 1;
}

nav a {

    font-weight: bold;
    display: block;
    padding: 1em;
    color: orangered;
    text-decoration: none;
    transition: background 1s;
}

nav a:hover {
    background: #FAFAFF;
}

header {
    display: block;
    text-align: right;
    background-image: url(5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 10%;
    margin: 20px 0;
}

header h1 {
    font-size: 2.5em;
}

main {
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    text-align: justify;
}

#contact, #aboutme, #skills, #portfolio {
    padding: 15px;
    margin: 10px 0;
    text-align: center;
}

.box {
    box-shadow: 3px 3px 5px rgb(82, 81, 81);
    background-color: #F9F9F9;
    display: inline-block;
    padding: 5px;
    margin: 5px  10px;
    border: 2px solid black;
}

footer {
    color: orangered;
    padding: 10px 0;
    font-size: 1em;
    justify-content: center;
    display: flex;
    font-weight: bold;
    background: black;
}

ul .logo{
    margin: auto auto;
    display: block;
    height: 35px;
    width: 35px;
    background-image: url(logo1.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.animation {
    background-image: url(logo1.png);
    background-repeat: no-repeat;
    background-size: contain;
    padding: 15px;
    margin: 50px 0;
    width: 95px;
    height: 95px;
    animation: animation 3s ease-in-out 1s infinite alternate none;
}
    
.animation:hover { animation-play-state:paused; }
    
@keyframes animation {
    0% {
        margin-left: 0;
    }
    100% {
        margin-left: 80%;
    }
}

#skills .box {
    margin: 0 30px;
}
#skills .box, #portfolio .box {
    width: 200px;
    height: 200px;
    margin: 10px;
}

h2 {
    margin: 60px 0 0 10px ;
    display: block;
    text-align: center;
    font-size: 2.5em;
}

h3 {
    margin: 10px;
    font-size: 1.5em;
}

#welcome {
    font-size: 1.3em;
    margin: 15px 0;
    padding: 10px;
    text-align: center;
    background-image: url(4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.button {
    border-radius: 10%;
    background: white;
    border: 3px solid black;
    display: inline-block;
    padding: 10px;
}

#skills {
    background-image: url(3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#portfolio {
    background-image: url(2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#contact {
    background-image: url(3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#aboutme {
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 60%;
    border: 3px solid black;
}

#dzem, #sok, #ciasto {
    text-align: left;
    font-weight: bold;
    font-size: 2em;
}

#sok {
    background-image: url(sok.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 500ms;
}

#sok:hover {
    transform: scale(1.1) rotate(-10deg);
    transition-duration: 500ms;
}

#ciasto {
    background-image: url(ciasto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 500ms;
}

#ciasto:hover {
    transform: scale(1.1);
    transition-duration: 500ms;
}

#dzem {
    background-image: url(dzem.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 500ms;
}

#dzem:hover {
    transform: scale(1.1) rotate(10deg);
    transition-duration: 500ms;
}

#tymbark {
    background-image: url(tymbark.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 500ms;
}

#tymbark:hover {
    transform: scale(1.1) rotate(-10deg);
    transition-duration: 500ms;
}

#hortex {
    background-image: url(hortex.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition-duration: 500ms;
}

#hortex:hover {
    transform: scale(1.1) rotate(-5deg);
    transition-duration: 500ms;
}

#orangina {
    background-image: url(orangina.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition-duration: 500ms;
}

#orangina:hover {
    transform: scale(1.1) rotate(5deg);
    transition-duration: 500ms;
}

#cappy {
    background-image: url(cappy.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transition-duration: 500ms;
}

#cappy:hover {
    transform: scale(1.1) rotate(10deg);
    transition-duration: 500ms;
}

#form, #contact-info {
    height: 300px;
    width: 300px;
}